.grid-view-images{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1FR 0.5FR 1FR 1FR;
    grid-template-rows: 300px 200px;
    gap: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.grid-view-images a:nth-child(1){
    display: block;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}
.grid-view-images a:nth-child(2){
    grid-column: 3 / -1;
    grid-row: 1 / 2;
}
.grid-view-images a:nth-child(3){
    grid-column: 3 / span 1;
}

.grid-view-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_col_wrapper{
    padding-right:5px !important;
    padding-left:5px!important;
}
.grid-view-images h3 , .blog_col_wrapper h3 {
    position: absolute;
    bottom: 30px;
    color: white;
    left: 20px;
    font-weight: 700;
    z-index:1;
}

.grid-view-images a , .blog_col_wrapper a {
    position: relative;
}

.blog_col_wrapper a{
    display: block;
    height: 100%;
}

a.card-img-top , .grid-view-images a{
    position: relative;
    display: inline-block;
}

a.card-img-top:after , .grid-view-images a:after {
    content: " ";
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:inline-block;
    background: linear-gradient(to bottom, #ffffff0a , #0000008a);
}